
body {
    background-image: url(images/white_background2.jpg);
    background-repeat: no-repeat;
    background-position: center top; 
    font-family: Arial, Verdana, sans-serif;
}

#Introduction {
    font-weight: normal;
    text-align: justify;
    position: relative;
    width: 800px;
    height: 400px;
    padding-top: 20px;
    padding-left: 100px;
    padding-bottom: 80px;
    /*color: gainsboro;*/
    font-size: 185%;
} 
#logo{
    position: relative;
    padding-top: 58px; 
    padding-left: 67px;
    
    
}

#mypage{
     width: 1000px;
     margin: 0 auto;
}

#terms{
    position: relative;
    text-align: justify;
    width: 800px;
    padding-top: 20px;
    padding-left: 100px;
    /*color: gainsboro;*/
    font-size: 140%;
}
#stores
{
    position: relative;
    padding-left: 160px;
    
}

#playstore
{
    position: relative;
    padding-left: 125px;
    
}
#appstore
{
    position: relative;
    padding-left: 75px;
    
}
#app
{
    position: relative;
    padding-top: 80px;
    padding-left: 135px; 
    padding-bottom: 20px;
}
